body {
    margin: 0px;
    padding-top: 800px;

}

.img {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 35%;
}

#welcome {
    position: absolute;
    overflow: hidden;
    height: 1000px;
    color: #504be3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.83;
    background: linear-gradient(#1cb5ba , #c2cc52 100%);
    display: table;
    width: 100%;
    height: 80%;
    z-index: 9;
}

.divClass1 {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: 'Lobster', cursive;
    font-weight: 300;
}

#span1 {
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    line-height: 1.2;
}

#h2 {
    font-size: 30px;
    line-height: 1.2;
    font-family: 'Playfair Display', serif;
    ;
    font-weight: 200;
}

#bio {
    padding: 30px;
    text-align: center;
    font-size: 42px;
}

.line {
    height: 6px;
    width: 70px;
    background-color: black;
    margin: 8px auto;
}

p {
    max-width: 450px;
    margin: 35px auto;
    font-size: 17px;
    line-height: 1.3;
    font-family: 'Playfair Display', serif;
}

.menu {
    list-style: none;
    position: absolute;
    right: 30px;
    top: 10px;
    z-index: 10;
    cursor: pointer;
}

.links {
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    color: darkblue;
    font-family: 'Roboto Mono', monospace;
    font-size: 19px;
}

.links:hover {
    background-color: darkorchid;
}
